#navList {
    margin: 3%;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    list-style: none;
    user-select: none;
}

.navItem {
    display: inline;
    font-size: 1.3em;
    margin: auto;
}

.navItem:not(:last-child):after {
    content:' | ';
}