#navList {
    margin: 5%;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    list-style: none;
}

.navItem {
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.3em;
    margin: auto;
}