#root {
  background-color: #303030;
}

.App {
  color: white;
  font-family: source-code-pro, monospace;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 5fr auto;
  grid-template-areas:
  "header"
  "nav"
  "main"
  "main"
  "main"
  "footer"
}

.App a {
  color: inherit;
  outline: none;
}

.App-logo {
  margin: 2em auto auto auto;
  animation: App-logo-spin infinite 20s linear;
  height: 12vmin;
}

#App-header {
  display: inline;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  grid-area: header;
}

#nav {
  grid-area: nav;
}

#content-wrapper {
  margin-top: 5vh;
  align-self: start;
  grid-area: main;
}

#footer {
  grid-area: footer;
}

.container { 
  font-family: source-code-pro, monospace;
}

.container .title {
  font-weight: bold;
  font-size: 2em;
}

.container p {
  margin-top: 1.5em;
}

.title { 
  user-select: none;
}

.ui.divider { 
  margin: 5%!important; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
