.App {
  display: flex;
  flex-direction: column;
  min-height: 98vh;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.App-logo {
  margin: 1em auto auto auto;
  animation: App-logo-spin infinite 20s linear;
  height: 12vmin;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content {
  flex: 1 0 auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
