#root {
  background-color: #303030;
}

.App {
  color: white;
  font-family: source-code-pro, monospace;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.App a {
  color: inherit;
  outline: none;
}

.App-logo {
  margin: 2em auto auto auto;
  animation: App-logo-spin infinite 20s linear;
  height: 12vmin;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  user-select: none;
}

#content-wrapper {
  flex: 1 0 auto;  
  margin-top: 5vh;
}

.container { 
  font-family: source-code-pro, monospace;
}

.ui.divider { 
  margin: 5%!important; 
}

.container .title {
  font-weight: bold;
  font-size: 2em;
}

.container p {
  margin-top: 1.5em;
}

.title { 
  user-select: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
